.pplus-tab {
    background-image:
        url(https://cdn.yapper.shop/assets/38.png),
        linear-gradient(90deg, rgba(43, 45, 49, 0.00) 28.13%, rgba(255, 107, 0, 0.55) 67.3%, #FFFD00 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}